.outer-contain {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 71, 110);

  }
  
  .inner-contain {
    width: 95%;
    height: 92%;
    background-color: white;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  @media (max-width: 1280px) {
   

  }