
.simple-keyboard {
    height: 40vh !important; 
    max-height: 40vh !important;
    background: linear-gradient(to bottom, #f9f9f9, #e0e0e0); 
    padding: 10px;
  }

  
  .simple-keyboard .hg-button {
    height: 7.2vh !important; 
    font-size: 2.2rem; 
    background: #ffffff; 
    color: #333333;
    border: 1px solid #cccccc; 
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  
  .simple-keyboard .hg-button:hover {
    background: #f0f0f0;
    transform: scale(1.008);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
  }
  

  .simple-keyboard .hg-button:active {
    background: #cccccc; 
    transform: scale(0.95); 
    box-shadow: none; 
  }
  
  
  
  .simple-keyboard .hg-button[data-skbtn="{enter}"]:hover,
  .simple-keyboard .hg-button[data-skbtn="{shift}"]:hover,
  .simple-keyboard .hg-button[data-skbtn="{bksp}"]:hover {
    background: #3740a3; 
  }
  
 
  .simple-keyboard .hg-button span {
    display: block;
    line-height: 1.2;
  }
  
 
  .simple-keyboard .hg-row {
    margin-bottom: 5px;
  }

  @media (max-width: 1280px) and (max-height: 720px) {
   
    .simple-keyboard {
        height: 32vh !important; 
    }

    .simple-keyboard .hg-button {
        font-size: 1rem; 
        height: 5vh !important; 
        /* width: 18%;  */
    }
}

@media (max-width: 480px) {
    .simple-keyboard {
        height: 20vh !important;
    }

    .simple-keyboard .hg-button {
        font-size: 1.2rem;
        height: 10vh !important;
        width: 20%;
    }
}