.outer-containers {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--inner-floor-bg-color);

  }
  
  .inner-containers {
    width: 95%;
    height: 92%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .device-section {
    margin-top: 10px;
  }
  
  .back-button {
    cursor: pointer;
    font-weight: bold;
    color: #3490dc;
    margin-bottom: 10px;
  }
  .sticky-footer {
    margin-top: 0; 
  }
  .footers{
    height: 10%;
  }

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

::-webkit-scrollbar-horizontal {
  height: 6px; 
}

  
  